*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}
/* side menu bar */
.menu-btn{
    position: absolute;
    top: 15px;
    left: 45px;
    height: 38px;
    width: 38px;
    background-color: #1b1b1b;
    background-color: #3f51b5;
    background:#131b4b;


    text-align: center;
    transition: left 0.4s ease;
}
.menu-btn span{
  color: white;
  font-size:30px ;
  line-height: 45px;
  cursor: pointer;

}

 .clickme{
left: 260px;
}
.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    /* background: #1b1b1b; */
    background-color: #3f51b5;

    left: -250px;
    transition: left 0.4s ease;
}
.show{
    left: 0px;
}
nav a{
    color: white;
}
.sidebar .text{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    /* background: #1e1e1e; */
    background-color: #3f51b5;

    letter-spacing: 1px;
}
nav ul{
    /* background: #1b1b1b; */
    background-color: #3f51b5;

    height: 100%;
    width: 100%;
    list-style: none;
}
nav ul li{
    line-height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
    position: relative;
}
nav ul li a:hover{
    color: cyan;
    /* background: #1e1e1e; */
    background:#131b4b;

    border-left-color:cyan ;
}
nav ul ul{
    position: static;
    display: none;
}
 .feat-show{
  display: block;
}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}
nav ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}
nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: tranform 0.4s;
}

/* nav ul li a:hover span{
    transform: translateY(-50%)rotate(-180deg);
} */
.rotate{
    transform: translateY(-50%)rotate(-180deg);
}

/* bubble sort */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #f5f5f5; */
    /* background: #1e1e1e; */
    background-color: #7987d8;
}

.heading{
    margin-top: 1.5rem;
}
#generate{
  padding: 8px;
  border-radius: 8px;
  margin-left: 30px;
  color: black;
  font-weight: bolder;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  background-color: black;
  border-radius: 10px;
}
#generate:hover{
    box-shadow: 0px 0px 8px 2px ;
    background-color: #3838ff;

}
.size{
    padding: 8px 15px;
    border-radius: 8px;
    margin-left: 30px;
    color: black;
    font-weight: bolder;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: black;
    border-radius: 10px;
}
.size:hover{
    box-shadow: 0px 0px 8px 2px ;
    background-color: #3838ff;

}
.speed{
    padding: 8px;
    border-radius: 8px;
    margin-left: 30px;
    color: black;
    font-weight: bolder;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: black;
    border-radius: 10px;

}
.speed:hover{
    box-shadow: 0px 0px 8px 2px ;
    background-color: #3838ff;
 
}
#sort{
    padding: 8px;
    border-radius: 8px;
    margin-left: 30px;
    color: black;
    font-weight: bolder;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: black;
    border-radius: 10px;

}
#sort:hover{
    box-shadow: 0px 0px 8px 2px ;
    background-color: #3838ff;
}

/* .button4 {
    width: 160px;
    height: 60px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
    background-color: black;
    border-radius: 10px;
}
.button4:hover {
    background:#121e60;
    /* background-color: ; 
} */

.controls {
    margin: 20px;
    display: flex;
    gap: 10px;
}

.controls label {
    font-size: 1.2rem;
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 70vh;
    width: 90%;
    margin: 20px auto;
    /* background-color: yellow; */
    background:#121e60;

    border: 1px solid #ddd;
    padding: 10px;

}

.bar {
    margin: 2px;
    background-color: #4CAF50;
    width: 20px;
    transition: height 0.5s;
    height: 90%;
}

/* .sorted{
    background-color: #4CAF50;
 
} */
 /* media query */
@media screen and (max-width :600px) {
    .controls{
        display: grid;
       /* border: 1px solid wheat; */
      grid-template-columns: 1fr 1fr;
    }
    #generate{
        z-index: -1;
    }
    .bar{
        height: 100%;
    }
    
}
